Thanks for your order {{ first_name }}!

Your order number is {{ order_id }} and the total is ${{ order_total }}.

The kitchen will start preparing your order soon and drivers have been notified.

Sincerely,
The Foodie2ue team